body {
    /*height: 110vh;*/
    background-color: #222222;
    color:white;
    overflow-y: scroll;
}

#boards {
    /*background-color: #f8f8f8;*/
    background-color: black;
    color: #f8f8f8;
    padding: 20px;
    /*min-width: 90%;*/
}


.card {
    position: relative;
    min-width: 8rem;
    padding: 0.5rem;
    margin-top: 4px;
    animation-name: modalopen;
    animation-duration: 1s;
    background-color: black;
    color: #f8f8f8;
    cursor: pointer;
}


.button-card-delete {
    /*position: relative;*/
    display: none;
    position: absolute;
    right: -20px;
    top: -10px;
    z-index: 10;
}

.card:hover {
    background-color: #323030;
}
.card:hover .button-card-delete {
    display: block;
}

h2 button {
    background-color: black;
    color: #f8f8f8;
}

.accordion-button {
    display: block;
    background-color: black;
    color: #f8f8f8;
    font-size: 1.4rem;
    text-align: center;
}

.accordion-button:hover {
    background-color: rgba(22, 22, 22, 0.45);
}

.btn.btn-light:hover {
    background-color: rgba(255, 255, 255, 0.7);
}

.accordion-button:not(.collapsed) {
    color: black;
    background-color: #f8f8f8;
}

accordion-collapse.collapse.show {
    animation-name: heightAnimation, modalopen;
    animation-duration: 1s, 2s;
    animation-timing-function: ease-in;
}

.accordion-body {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-grow: 0 ;
    align-items: center;
    /*overflow-x: scroll;*/

    min-height: 30vh;
    width: 100%;
    background-color: black;
}

.column-content {
    animation-name: heightAnimation, modalopen;
    padding: 0.8rem;
    animation-duration: 2s, 1.5s;
    min-width: 12rem;
    min-height: 25vh;
    background-color: #f8f8f8;
}

div.status-column h4 {
    text-align: center;
    font-weight: lighter;
    margin: 0.5rem 0;
    animation-name: modalopen;
    animation-duration: 1s;
}

.status-column {
    margin: 0.5em 0.5em;
}

/*.accordion-body {*/
/*    min-height: 30vh;*/
/*    width: 100%;*/
/*    background-color: black;*/
/*    overflow-x: paged-x;*/
/*}*/


#page-title {
    text-align: center;
    margin-bottom: 1rem;
}


.add-col-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    /*padding: 20px;*/
    padding-bottom: 20px;
    background-color:black;
    /*width: auto;*/
}

.add-col-btn button {
    animation-name: modalopen;
    animation-duration: 3s;
}

.display-modal {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100;
    top:0;
    left:0;
    background-color: rgba(0, 0, 0, 0.8);
}

.container-modal-form {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-center-middle {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

@keyframes modalopen {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

@keyframes heightAnimation {
    from {
      min-height: 5vh;
    }
    to {
      min-height: 25vh;
    }
  }