body {
    height: 110vh;
    background-color: #222222;
    color:white;
}

#boards {
    /*background-color: #f8f8f8;*/
    background-color: black;
    color: #f8f8f8;
    padding: 20px;
    /*min-width: 90%;*/
}


.card {
    min-width: 8rem;
    padding: 0.5rem;
    margin-top: 4px;
    animation-name: modalopen;
    animation-duration: 1s;
    background-color: black;
    color: #f8f8f8;
}

h2 button {
    background-color: black;
    color: #f8f8f8;
}

.accordion-button {
    display: block;
    background-color: black;
    color: #f8f8f8;
    font-size: 1.3rem;
    text-align: center;
}

.accordion-button:not(.collapsed) {
    color: black;
    background-color: #f8f8f8;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}

accordion-collapse.collapse.show {
    animation-name: heightAnimation, modalopen;
    animation-duration: 1s, 2s;
    animation-timing-function: ease-in;
}

.column-content {
    animation-name: heightAnimation, modalopen;
    padding: 0.8rem;
    animation-duration: 2s, 1.5s;
    min-width: 8rem;
    min-height: 50vh;
    background-color: #f8f8f8;

}

div.status-column h4 {
    text-align: center;
    margin: 0.5rem 0;
    animation-name: modalopen;
    animation-duration: 1s;
}

.status-column {
    margin: 0.5em 0.5em;
}

.accordion-body {
    min-height: 30vh;
    width: 100%;
    background-color: black;
    overflow-x: paged-x;
}


#page-title {
    text-align: center;
    margin-bottom: 1rem;
}


.add-col-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    /*padding: 20px;*/
    padding-bottom: 20px;
    background-color:black;
    /*width: auto;*/
}

.add-col-btn button {
    animation-name: modalopen;
    animation-duration: 3s;
}

.display-modal {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
    top:0;
    left:0;
    background-color: rgba(0, 0, 0, 0.8);
}

.container-modal-form {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-center-middle {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

@keyframes modalopen {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

@keyframes heightAnimation {
    from {
      min-height: 5vh;
    }
    to {
      min-height: 50vh;
    }
  }